<!DOCTYPE html>
<html>
    <header>
        <title>Upload Symfony 3</title>
    </header>
    <body>
        <header>Upload Symfony 3</header>
        {% block body %}
        
        {% endblock %}
    </body>
</html>